%a{ href: '#{{namespace}}/{{CategoryID}}' }
  %img{:src => "http://a248.e.akamai.net/origin-cdn.volusion.com/uxxqy.odzcv/v/vspfiles/photos/categories/{{CategoryID}}.jpg", :onerror => 'this.src="http://www.badgeint.com/v/vspfiles/templates/adorii/images/nophoto.gif"'}
%p
  = link_to '{{CategoryName}}', '#{{namespace}}/{{CategoryID}}'
%p{ hidden: 'hidden' }} {{{CategoryDescription}}}
